<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
       <h1>
         Name: <%= @user.name %>
         <br>
         Your Annotator ID: <%= @user.annotatorID %>
      </h1>
      <br><br>
      <div class = "annotation-progress">
      <% annotations = Annotation.all%>
        Total Annotations in this Task: <%= annotations.size%> <br>
      <% notStarted = annotations.reject {|annotation| (annotation.assigned == true)} %>
      <% inProgress = annotations.reject {|annotation| (annotation.finished == true) || (annotation.assigned == false)} %>
      <% fullyComplete = annotations.reject {|annotation| (annotation.finished == false)} %>
        Completed: <%= fullyComplete.size %> <br>
        In Progress: <%= inProgress.size %> <br>
        Not Assigned: <%= notStarted.size%>
      </div>
      <br>
      <% if fullyComplete.size != annotations.size %>
        <p>
        <%= link_to "Generate Task", find_incomplete_annotation_path , class: 'btn btn-primary' %>
      </p>
      <% else %>
       <h1> All Annotations Annotated! </h1>
      <% end %>
    <br>
      <%#= link_to "Export Completed Annotations", annotation_path(format: :csv) , class: 'btn btn-primary' %>
      
    </section>
  </aside>
</div>