<% provide(:title, "Complete Task") %>

<div class = "full-page">

<div class="sticky-top">
<h1>Instructions: </h1>
<p><b>Determine the level of relevancy for each product attribute</b> with regard to the question.</p>
<p> The Key and value represent the identifier for the product attribute and its value. </p>
<p> The Product, Item ID, and original Question are given to you below: </p>
<h3> <b>Product:</b> <%= @annotation.product%><h3>
<h3> <b>Item ID:</b> <%= @annotation.itemID%><h3>
<h3> <b>Question:</b> <%= @annotation.question%><h3>
</div>

<div class="page-content">

<%= form_with(model: @annotation)do |f| %>

<br>

<p>
  <h3><b>Product Attributes:</b></h3>
  <% if (@annotation.productAttributes == "[]" or @annotation.productAttributes == nil or @annotation.productAttributes.size == 0) %>
    <p> No Product Attributes for this product, move on to the next section. <p>
  <% else %>
    <% @annotation.productAttributes.each do |productAttr|%>
        <ul>
        <li> 
        
            <b>Key:</b> <%= productAttr.keys[0] %> 
            <br>
            <b>Value:</b> <%= productAttr.values[0] %>
            
            <div class = "checkbox-list">
              <%= f.check_box :highly_relevant_product_attributes, {multiple: true}, productAttr.to_json%>
              <%= f.label :highly_relevant_product_attributes, "Highly Relevant"%> <br>
              <%= f.check_box :partially_relevant_product_attributes, {multiple: true}, productAttr.to_json%>
              <%= f.label :partially_relevant_product_attributes, "Partially Relevant"%> <br>
              <%= f.check_box :irrelevant_product_attributes, {multiple: true}, productAttr.to_json%>
              <%= f.label :irrelevant_product_attributes, "Irrelevant"%> <br>
              <%= f.check_box :not_sure_product_attributes, {multiple: true}, productAttr.to_json%>
              <%= f.label :not_sure_product_attributes, "Not Sure"%> <br>
            </div>
        </li>
        </ul>
    <% end %>
  <% end %>
</p>

<br>


<%= f.hidden_field :formStage, value: 2%>
<%= f.hidden_field :annotatorID, value: current_user.annotatorID%>


<div class="actions">
    <%= link_to "Go Back", complete_task_path(@annotation), class: 'go-back'%>
    <%= f.submit "Next Section", class: 'next-section'%>
  </div>

<% end %>

</div>
</div>
