<% provide(:title, "Complete Task") %>

<div class = "full-page">

<div class="sticky-top">
<h1>Instructions for Task: </h1>
<h2>Rewrite/Paraphrase the Question in your own words based on your understanding.</h2>
<h2>Determine the level of relevancy for each piece of evidence in regard to the question.</h2>
<h2>Come up with a coherent answer, based on the relevant evidence.</h2>
</div>

<div class="page-content">

<%= form_with(model: @annotation)do |f| %>

<h3> <b>Product:</b> <%= @annotation.product%><h3>
<h3> <b>Item ID:</b> <%= @annotation.itemID%><h3>
<h3> <b>Question:</b> <%= @annotation.question%><h3>

<br>
<%= f.label "Paraphrase the question above here: "%>
<%= f.text_field :paraphrase%>

<br>
<p>
  <strong>Reviews: <br> (Hover over text to view full review) </strong>

  <ul>
  <% @annotation.reviews.each do |review|%>
  <li>
    <% reviewStr = review.keys[0]%>
    <% title = review.values[0].values[0]%>
    <% content = review.values[0].values[1]%>
    <div class="tool-tip"> <%= reviewStr %>
      <span class = "tool-tip-text"> <b>Title:</b> <%= title %> <br><br> <b>Content:</b> <%=content%> </span>
    </div>
    
        <div class="checkbox-list">
            <%= f.check_box :highly_relevant_reviews, {multiple: true}, review.to_json%>
            <%= f.label :highly_relevant_reviews, "Highly Relevant"%> <br>
            <%= f.check_box :partially_relevant_reviews, {multiple: true}, review.to_json%>
            <%= f.label :partially_relevant_reviews, "Partially Relevant"%> <br>
            <%= f.check_box :irrelevant_reviews, {multiple: true}, review.to_json%>
            <%= f.label :irrelevant_reviews, "Irrelevant"%> <br>
            <%= f.check_box :not_sure_reviews, {multiple: true}, review.to_json%>
            <%= f.label :not_sure_reviews, "Not Sure"%> <br>
       </div>
    </li>
  <% end %>
  </ul>
</p>

<br>


<%= f.hidden_field :formStage, value: 1%>
<%= f.hidden_field :annotatorID, value: current_user.annotatorID%>


<div class="actions">
    <%= f.submit "Next Section", class: 'btn btn-primary'%>
  </div>

<% end %>

</div>
</div>


