<% provide(:title, "Complete Task") %>

<div class = "full-page">

<div class="sticky-top">
<h1>Instructions: </h1>
<p><b>Determine the level of relevancy for each Question and its Answers</b> with regard to the question.</p>
<p> The question is shown along with all the answers for that question. </p>
<p> The Product, Item ID, and original Question are given to you below: </p>

<h3> <b>Product:</b> <%= @annotation.product%><h3>
<h3> <b>Item ID:</b> <%= @annotation.itemID%><h3>
<h3> <b>Question:</b> <%= @annotation.question%><h3>
</div>

<div class="page-content">

<%= form_with(model: @annotation)do |f| %>


<div class = "header">
  <h3><b>QnA's:</b></h3>
  </div>
  <br>
  <% if (@annotation.QnAs == "[]" or @annotation.QnAs == nil or @annotation.QnAs.size == 0) %>
    <p> No QnAs for this product, move on to the next section. <p>
  <% else %>
  <div class = "qa-list">
  <% @annotation.QnAs.each do |qA|%>
  <ul>
    <li>
      <b>Question:</b> <%= qA[0] %>
      <br>
        <b>Answer(s):</b> <br>
      <ul>
      <% qA[1].each do |answer|%>
        <li> <%= answer %> </li>
      <% end %>
      </ul>

          <div class = "checkbox-list">
              <%= f.check_box :highly_relevant_qnas, {multiple: true}, qA.to_json%>
              <%= f.label :highly_relevant_qnas, "Highly Relevant"%> <br>
              <%= f.check_box :partially_relevant_qnas, {multiple: true}, qA.to_json%>
              <%= f.label :partially_relevant_qnas, "Partially Relevant"%> <br>
              <%= f.check_box :irrelevant_qnas, {multiple: true}, qA.to_json%>
              <%= f.label :irrelevant_qnas, "Irrelevant"%> <br>
              <%= f.check_box :not_sure_qnas, {multiple: true}, qA.to_json%>
              <%= f.label :not_sure_qnas, "Not Sure"%> <br>
          </div>  
    </li>
  </ul>
  <% end %>
  </div>
  <% end %>


<%= f.hidden_field :formStage, value: 4%>
<%= f.hidden_field :annotatorID, value: current_user.annotatorID%>


<div class="actions">
    <%= link_to "Go Back", complete_task3_path(@annotation), class: 'go-back'%>
    <%= f.submit "Next Section", class: 'next-section'%>
  </div>

<% end %>

</div>
</div>


