<% provide(:title, "Complete Task") %>

<div class = "full-page">

<div class="sticky-top">
<h1>Instructions:</h1>
<p>For the first part, <b>Rewrite/Paraphrase the Question in your own words</b> based on your understanding.</p>
<p>Then, <b>determine the level of relevancy for each user review snippet</b> with regard to the question. Hover over the review to view the entire review.</p>
<p> Here is the original question for your reference while scrolling: </p>
<h3> <b>Question:</b> <br> <%= @annotation.question%><h3>
</div>

<div class="page-content">


<%= form_with(model: @annotation)do |f| %>

<div class = "info-header">
<h3> <b>Product:</b> <%= @annotation.product%><h3>
<h3> <b>Item ID:</b> <%= @annotation.itemID%><h3>
<h3> <b>Question:</b> <%= @annotation.question%><h3>
</div>

<br>
<br>
<h3>
<%= f.label "Paraphrase the question above here: "%>
<%= f.text_field :paraphrase%>
</h3>
<br>

<div class= "header">
  <h3><b>Reviews:</b> (Hover over review snippet to view full review.)</h3> 
</div>

 <div class = "evidence-list">
 <% if (@annotation.reviews == "[]" or @annotation.reviews == nil or @annotation.reviews.size == 0) %>
    <p> No Reviews for this product, move on to the next section. <p>
<% else %>
  <ul>
  <% @annotation.reviews.each do |review|%>
  <li>
    <% reviewStr = review.keys[0]%>
    <% title = review.values[0].values[0]%>
    <% content = review.values[0].values[1]%>
    <div class="tool-tip"> <%= reviewStr %>
      <span class = "tool-tip-text"> <b>Title:</b> <%= title %> <br><br> <b>Content:</b> <%=content%> </span>
    </div>
    
        <div class="checkbox-list">
            <%= f.check_box :highly_relevant_reviews, {multiple: true}, review.to_json%>
            <%= f.label :highly_relevant_reviews, "Highly Relevant"%> <br>
            <%= f.check_box :partially_relevant_reviews, {multiple: true}, review.to_json%>
            <%= f.label :partially_relevant_reviews, "Partially Relevant"%> <br>
            <%= f.check_box :irrelevant_reviews, {multiple: true}, review.to_json%>
            <%= f.label :irrelevant_reviews, "Irrelevant"%> <br>
            <%= f.check_box :not_sure_reviews, {multiple: true}, review.to_json%>
            <%= f.label :not_sure_reviews, "Not Sure"%> <br>
       </div>
    </li>
  <% end %>
  </ul>
  <% end %>
</div>

<br>


<%= f.hidden_field :formStage, value: 1%>
<%= f.hidden_field :annotatorID, value: current_user.annotatorID%>


<div class="actions">
    <%= link_to "Go Back", makes_sense_path(@annotation), class: 'go-back'%>
    <%= f.submit "Next Section", class: 'next-section'%>
  </div>

<% end %>

</div>
</div>


